@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&family=Tajawal:wght@300;400;500;700;800;900&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", "Tajawal", ui-sans-serif, system-ui, sans-serif;
  --font-cairo: "Cairo", sans-serif;
  --font-tajawal: "Tajawal", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-brand-primary: #850F1D;
  --color-brand-secondary: #C09F65;
  --color-brand-dark: #232323;
  --color-brand-gold-bg: #F4EAD4;
}

/* Custom scrollbar hiding for horizontal lists */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: var(--font-sans);
  background-color: #f7f7f9;
  direction: rtl; /* Set default text direction to Right-to-Left for Arabic */
}
